<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "KYLE HEPPENSTALL", root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "PROJECTS", projects_path, class: "text" %></li>
        <li><%= link_to "BLOG", class: "text" %></li>
        <li><%= link_to "", "https://github.com/kheppenstall", class: "fa fa-github fa-fw" %></li>
        <li><%= link_to "", "mailto:kyle.heppenstall@gmail.com", class: "fa fa-envelope" %></li>
        <li><%= link_to "", "https://www.linkedin.com/in/kyle-heppenstall", class: "fa fa-linkedin"%></li>
      </ul>
    </div>
  </div>
</nav>